{% extends "base.html" %}

{% block contents %}

<div class="row mt-5">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>사용자명</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                {%for board in boards %}
                <!-- controller에서 template으로 전달한 변수는 boards에 담기고
                    반복문을 통해 만든 변수는 board  -->
                <tr>
                    <th>{{ board.id }}</th>
                    <th>{{ board.title }}</th>
                    <th>{{ board.writer }}</th>
                    <th>{{ board.registered_dttm }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-pirmary">글쓰기</button>
    </div>
</div>

{% endblock %}